/* Estilos globais */
body {
    background-color: rgb(70, 30, 30);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
}

/* Estilos para títulos (h1, h2) */
h1, h2 {
    text-align: center; /* Centralizar o Texto */
}

h1 {
    font-size: 45pt;
}

h2 {
    font-size: 30pt;
    margin-bottom: 10px;
}

/* Estilos para parágrafos (p) */
p {
    text-align: center;
    font-size: 17pt;
    margin: 0 auto; /* Isso centraliza o parágrafo horizontalmente */
    max-width: 600px; /* Substitua 600px pelo valor desejado */
}

/* Estilos para as cartas (cards) */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto;
    width: 60%; /* Use uma largura percentual para melhorar a adaptabilidade a dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.411);
}

.card img {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 100%; 
}

.card a{
    color:aqua
}

.card-2{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto;
    width: 60%; /* Use uma largura percentual para melhorar a adaptabilidade a dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.411);
}

.card-2 img {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10%; 
}

.card-3{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto;
    width: 60%; /* Use uma largura percentual para melhorar a adaptabilidade a dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.411);
}

.card-3 img{
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10%; 
}

.card-4{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto;
    width: 60%; /* Use uma largura percentual para melhorar a adaptabilidade a dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.411);
}

.card-4 img{
    width: 100%;
    height: auto;
    max-width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 0%; 
}

.card-5{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto;
    width: 60%; /* Use uma largura percentual para melhorar a adaptabilidade a dispositivos móveis */
    max-width: 400px; /* Limita a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.411);
}

.card-5 img{
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10%; 
}